{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url({% if post_list.0.get_postimg_url %}{{ post_list.0.get_postimg_url }}{% else %}{% static 'blog/img/header1.jpg' %}{% endif %})"></div>
        <div class="container">
            <div class="col-md-4 content-center">
				<img class="n-logo" src="{% static 'blog/img/logo.png' %}" alt="">
                    <h1 class="h1-seo">{{ WELCOME }}</h1>
                    <h3>{{ DESCRIPTION }}</h3>
				<div class="text-center">
					<a href="#WeChat" class="btn btn-danger btn-icon btn-round" rel="tooltip" title="WeChat" data-placement="left">
						<i class="fa fa-weixin"></i>
					</a>
					<a href="https://steamcommunity.com/id/acgit" class="btn btn-success btn-icon btn-round" rel="tooltip" title="Steam" data-placement="top" target="_blank">
						<i class="fa fa-steam"></i>
					</a>
					<a href="#" class="btn btn-info btn-icon btn-round" rel="tooltip" title="Twitter" data-placement="bottom" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#" class="btn btn-primary btn-icon btn-round" rel="tooltip" title="Google+" data-placement="top" target="_blank">
						<i class="fa fa-google-plus"></i>
					</a>
					<a href="https://bitbucket.org/rewrz/" class="btn btn-warning btn-icon btn-round" rel="tooltip" title="Bitbucket" data-placement="bottom" target="_blank">
						<i class="fa fa-bitbucket" aria-hidden="true"></i>
					</a>
					<a href="https://github.com/rewrz" class="btn btn-default btn-icon btn-round" rel="tooltip" title="Github" data-placement="top" target="_blank">
						<i class="fa fa-github" aria-hidden="true"></i>
					</a>
					<a href="mailto:hello@rewrz.com" class="btn btn-neutral btn-icon btn-round" rel="tooltip" title="Email" data-placement="right">
						<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
					</a>
				</div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block main %}
<!--   article   -->
	<article class="section">
		<div class="container">
			<div class="row">

				{% for post in post_list %}
				<div class="col-md-4 ml-auto mr-auto">
					<div class="card card-body post post-{{ post.pk }}">
						<h5 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
						<hr>
						<span class="post-date badge badge-info">
							<time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
						</span>
						<!--   meta   -->
						<div class="entry-meta">
							<span class="post-author badge badge-success">{% if post.author.get_full_name %}{{ post.author.last_name }}{{ post.author.first_name }}{% else %}{{ post.author }}{% endif %}</span>
							<a href="{{ post.category.get_absolute_url }}"><span class="post-category badge badge-primary">{{ post.category.name }}</span></a>
							<span class="comments-link badge badge-warning">{{ post.comment_set.count }} 评论</span>
							<span class="views-count badge badge-danger">{{ post.views }} 阅读</span>
						</div>
						<!--   content   -->
						<div class="entry-content">
						  <p>{{ post.excerpt }}</p>
						  <div class="read-more">
							<a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
						  </div>
						</div>
						<hr>
						{% for tag in post.tags.all %}
						<a href="{{ tag.get_absolute_url }}">
							<span class="badge badge-default"><i class="now-ui-icons shopping_tag-content"></i>{{ tag.name }}</span>
						</a>
                        {% endfor %}
					</div>
				</div>
				{% empty %}
				<div class="no-post">暂时还没有发布的文章！</div>
				{% endfor %}

                <!-- Pagination -->
				{% if is_paginated %}
                <div class="col-md-12">
					<hr>
                    <div class="pagination-container justify-content-center">
                        <ul class="pagination pagination-primary">
							{% if page_obj.has_previous %}
                            <li class="page-item arrow-margin-left">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
                                </a>
                            </li>
							{% endif %}
							{% if first %}
                            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
							{% endif %}
							{% if left %}
							{% if left_has_more %}
                            <li class="page-item"><a class="page-link" href="#!">...</a></li>
							{% endif %}
							{% for i in left %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
							{% endfor %}
					  		{% endif %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
							{% if right %}
							{% for i in right %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
							{% endfor %}
							{% if right_has_more %}
							<li class="page-item"><a class="page-link" href="#!">...</a></li>
							{% endif %}
							{% endif %}
							{% if last %}
							<li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
							{% endif %}
							{% if page_obj.has_next %}
                            <li class="page-item arrow-margin-right">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
							{% endif %}
                        </ul>
                    </div>
					<hr>
                </div>
				{% endif %}
                <!-- Pagination -->
	    </article>
{% endblock main %}
