aiohttp==3.12.15
beautifulsoup4==4.13.4
bleach==6.2.0
cachetools==6.1.0
fastapi==0.116.1
Jinja2==3.1.6
Markdown==3.8.2
passlib==1.7.4
Pillow==11.3.0
psutil==7.0.0
pydantic==2.11.7
pytest==8.4.1
pytest-asyncio==0.24.0
python-dotenv==1.1.1
python-slugify==8.0.4
python_jose==3.5.0
pytz==2025.2
SQLAlchemy==2.0.43
starlette==0.47.2
uvicorn==0.35.0
