{% extends 'base.html' %}
{% load highlight %}
{% load staticfiles %}

{% block head_style %}
	<style>
        .bg-image{
            height:100%;
            text-align: center;
            background: black;
        }
        .bg-imge-blur{
            float: left;
            width: 100%;
            z-index: -99999;
            position: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            -webkit-filter: blur(9px);
            -moz-filter: blur(9px);
            -o-filter: blur(9px);
            -ms-filter: blur(9px);
            filter: blur(9px);
        }
    </style>
{% endblock head_style%}

{% block nav_top %}
        <!-- 导航 -->
        <div class="navbar-fixed">
            <nav class="nav-extended hoverable">
                <div class="nav-wrapper">
                    <a href="#" data-activates="slide-out" class="button-collapse" style="display:flex;"><i class="material-icons">menu</i></a>
                    <a href="{% url 'portal:index' %}" class="brand-logo">最后的改写</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'blog:index' %}">博客</a></li>
                        <li><a href="tweet">推文</a></li>
                        <li><a href="about">关于</a></li>
                    </ul>
                </div>
            </nav>
        </div>
{% endblock nav_top %}

{% block content %}
        <!-- 瀑布流卡片 -->
        <div id="archive" class="col s12" style="padding-top: 6rem;">
            <div class="row">
                <div class="col s12 card-container">

                    <div class="card-panel teal hoverable" style="background-color: #00968899 !important;">
                        <h2 class="white-text">搜索结果：<br>{{ key }}</h2>
                    </div>
                    <style>span.highlighted {color: #ff00a3;}</style>

                    {% if query %}
                    {% for result in page.object_list %}
                    <div class="post_list post-{{ result.object.pk }}">
                        <div class="card hoverable white">
                            <div class="card-content entry-excerpt black-text">
                              <span class="card-title" style="text-shadow: none;font-weight: bold;">
                                  <a href="{{ result.object.get_absolute_url }}" class="black-text">{% highlight result.object.title with query %}</a>
                              </span>
                              <p>{% highlight result.object.body with query %}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'blog:category' result.object.category.pk %}">{{ result.object.category.name }}</a>
                                <a href="{{ result.object.get_absolute_url }}#commentsArea">{{ result.object.comment_set.count }} 评论</a>
                                <a href="{{ result.object.get_absolute_url }}">{{ result.object.views }} 阅读</a>
                            </div>
                          </div>
                    </div>
                    {% empty %}
				    <div class="no-post white-text center"><h1>没有搜索到你想要的结果！</h1></div>
                    {% endfor %}

                </div>
               <!-- Pagination -->
				{% if is_paginated %}
					<hr>
                    <div class="pagination-container center">
                        <ul class="pagination pagination-primary">
							{% if page_obj.has_previous %}
                            <li class="page-item arrow-margin-left">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="material-icons white" aria-hidden="true">chevron_left</i></span>
                                </a>
                            </li>
							{% endif %}
							{% if first %}
                            <li class="page-item"><a class="white" href="?page=1">1</a></li>
							{% endif %}
							{% if left %}
							{% if left_has_more %}
                            <li class="page-item"><a class="white" href="#!">...</a></li>
							{% endif %}
							{% for i in left %}
                            <li class="page-item"><a class="white" href="?page={{ i }}">{{ i }}</a></li>
							{% endfor %}
					  		{% endif %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
							{% if right %}
							{% for i in right %}
                            <li class="page-item"><a class="white" href="?page={{ i }}">{{ i }}</a></li>
							{% endfor %}
							{% if right_has_more %}
							<li class="page-item"><a class="white" href="#!">...</a></li>
							{% endif %}
							{% endif %}
							{% if last %}
							<li class="page-item"><a class="white" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
							{% endif %}
							{% if page_obj.has_next %}
                            <li class="page-item arrow-margin-right">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="material-icons white" aria-hidden="true">chevron_right</i></span>
                                </a>
                            </li>
							{% endif %}
                        </ul>
                    </div>
					<hr>
				{% endif %}
                <!-- Pagination -->
                {% else %}
                <div class="no-post white-text center"><h1>请输入搜索关键词，例如 RewrZ </h1></div>
                {% endif %}
            </div>
        </div>
{% endblock content %}