{% extends 'portal/base.html' %}
{% load staticfiles %}
{% block head_title %}注册 - 终改非人{% endblock head_title %}

{% block content %}
<div class="container col s12 m7">
    <h2>登录</h2>
    {% if message %}
     {{ message }}
    {% endif %}
    <div class="form-wrapper">
       <form method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
               <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                 <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
               </div>
            {% endfor %}
          <div class="button-wrapper submit">
             <input type="submit" value="登录" />
          </div>
       </form>
        还没有账号？<a href="/auth/registerz">注册</a>
    </div>
</div>
{% endblock content %}

{% block head_style %}
{% endblock head_style%}
{% block footer %}
{% endblock footer %}